@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.dashboard-section {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    padding: 25px;


}